Exercise Question 1: Reverse the following tuple

In [6]:
tup1 = (10, 20, 30, 40, 50)
print('Original tuple:\n',tup1)
print('Reveresed tuple:\n',tup1[::-1])

Original tuple:
 (10, 20, 30, 40, 50)
Reveresed tuple:
 (50, 40, 30, 20, 10)

Exercise Question 2: Access value 20 from the following tuple

In [8]:
tup2 = ("Orange", [10, 20, 30], (5, 15, 25))
# Accesing element 20
print(tup2[1][1])

20

Exercise Question 3: Create a tuple with single item 50

In [22]:
tup3 = (50,)   # if we only pass 50 in the arguments within paranthesis, the variable gets treated as an int type
print(type(tup3))
print(tup3)

<class 'tuple'>
(50,)

Exercise Question 4: Unpack the following tuple into 4 variables

In [25]:
tup4 = (10, 20, 30, 40)
a,b,c,d = (i for i in tup4)
print(a)
print(b)
print(c)
print(d)

10
20
30
40

Exercise Question 5: Swap the following two tuples

In [27]:
tup5 = (11, 22)
tup6 = (99, 88)
tup5,tup6 = tup6,tup5
print(tup5)
print(tup6)

(99, 88)
(11, 22)

Exercise Question 6: Copy element 44 and 55 from the following tuple into a new tuple

In [37]:
tup7 = (11, 22, 33, 44, 55, 66)
# Approach 1
tup8 = [i for i in tup7 if i==44 or i==55]
print('Original tuple:\n',tup7)
print('New tuple:\n',tuple(tup8))

# Approach 2
print('Elements after slicing:\n',tup7[3:len(tup7)-1])

Original tuple:
 (11, 22, 33, 44, 55, 66)
New tuple:
 (44, 55)
Elements after slicing:
 (44, 55)

Exercise Question 7: Modify the first item (22) of a list inside a following tuple to 222

In [41]:
tup9 = (11, [22, 33], 44, 55)
# Modifying the element
tup9[1][0] = 222
print(tup9)

(11, [222, 33], 44, 55)

Exercise Question 8: Sort a tuple of tuples by 2nd item

In [85]:
tup10 = (('a', 23),('b', 37),('c', 11), ('d',29))
lengthTup = len(tup10)
indexes = [i for i in range(0,lengthTup)]
key = [tup10[i][0] for i in indexes]
value = [tup10[i][1] for i in indexes]
#print('KEYS:\n',key)
#print('VALUES:\n',value)

[('a', 23), ('b', 37), ('c', 11), ('d', 29)]
Sorted:
 [('a', 23), ('b', 37), ('c', 11), ('d', 29)]
(('c', 11), ('a', 23), ('d', 29), ('b', 37))

Exercise Question 9: Counts the number of occurrences of item 50 from a tuple

In [77]:
tup11 = (50, 10, 60, 70, 50)
elemToSearch = 50
print('Count of {0} = {1}'.format(elemToSearch,tup11.count(50)))

Count of 50 = 2

Exercise Question 10: Check if all items in the following tuple are the same

In [80]:
tup12 = (45, 45, 45, 45)

def checkItemSame(tup):
    lengthOfTup = len(tup)
    firstElem = tup[0]
    if lengthOfTup == tup.count(firstElem):
        print('Elements are same in the given tuple')
        return True
    else:
        print('Elements are not the same in the given tuple')
        return False
checkItemSame(tup12)

Elements are same in the given tuple

True