Question 1: How to import pandas and check the version?

In [3]:
import pandas as pd
print('Panda version: ',pd.__version__)

Panda version:  0.22.0

Question 2: How to create a series from a list, numpy array and dict?

In [16]:
import numpy as np
lst1 = [1,2,3,4,5]
ar1 = np.asarray(lst1)
dct1 = dict(zip(['a','b','c','d','e'],ar1))
print('List 1: ',lst1)
print('Array 1: ',ar1)
print('Dictionary 1: ',dct1)

sr1 = pd.Series(lst1)
print('\nSeries 1: ',sr1)

sr2 = pd.Series(ar1)
print('\nSeries 2: ',sr2)

sr3 = pd.Series(dct1)
print('Series 3: ',sr3)

List 1:  [1, 2, 3, 4, 5]
Array 1:  [1 2 3 4 5]
Dictionary 1:  {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

Series 1:  0    1
1    2
2    3
3    4
4    5
dtype: int64

Series 2:  0    1
1    2
2    3
3    4
4    5
dtype: int64
Series 3:  a    1
b    2
c    3
d    4
e    5
dtype: int64

Question 3: How to convert the index of a series into a column of a dataframe?

In [21]:
print('Series: ',sr3)
df1 = pd.DataFrame(sr3).reset_index()
print(df1)

Series:  a    1
b    2
c    3
d    4
e    5
dtype: int64
  index  0
0     a  1
1     b  2
2     c  3
3     d  4
4     e  5

Question 4: How to combine many series to form a dataframe?

In [42]:
lst3= ['a','b','c','d','e','f','g','h','i','j']
ar3= np.asarray([1,2,3,4,5])
ar4= np.asarray([6,7,8,9,10])
# create the series
sr3 = pd.Series(lst3)
sr4 = pd.Series(np.append(ar3,ar4))

# combine the two series to create a dataframe
df2 = pd.DataFrame({'heading':sr3,'value':sr4})
print(df2)

  heading  value
0       a      1
1       b      2
2       c      3
3       d      4
4       e      5
5       f      6
6       g      7
7       h      8
8       i      9
9       j     10

Question 5: How to assign name to the series’ index?

In [43]:
# Using the same series created above in Question 4
print(sr4)
sr4.index.name = 'col1'
sr4.name = 'renamedSeries'
print('\nAfter renaming index, series is:\n',sr4)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

After renaming index, series is:
 col1
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: renamedSeries, dtype: int64

Question 6: How to get the items of series A not present in series B?

In [64]:
sr5 = pd.Series([1, 2, 3, 4, 5])
sr6 = pd.Series([4, 5, 6, 7, 8])

# In pandas, we do not have a diff or remove function. Instead we have to rely on the isin()
# to check if elements of series A present in series B.
sr5[~sr5.isin(sr6)]

0    1
1    2
2    3
dtype: int64

Question 7: How to get the items not common to both series A and series B?

In [75]:
sr7 = pd.Series([1, 2, 3, 4, 5])
sr8 = pd.Series([4, 5, 6, 7, 8])

# In pandas, we do not have a diff or remove function. Instead we have to rely on the isin()
# to check if elements of series A present in series B.
uniqueElem = sr7[~sr7.isin(sr8)].append(sr8[~sr8.isin(sr7)])
print(uniqueElem)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

Question 8: How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [88]:
sr9 = pd.Series(np.arange(1,11,1))
minPerc = np.percentile(sr9,0)
perc25 = np.percentile(sr9,25)
perc75 = np.percentile(sr9,75)
maxPerc = np.percentile(sr9,100)

print('Minimum Percentile: {0}, 25 Percentile: {1}, 75 Percentile: {2}, Max Percentile: {3}'.format(minPerc,perc25,
                                                                                                   perc75,maxPerc))

Minimum Percentile: 1.0, 25 Percentile: 3.25, 75 Percentile: 7.75, Max Percentile: 10.0

Question 9: How to get frequency counts of unique items of a series?

In [97]:
sr10 = pd.Series([1,2,3,4,5,6,6,7,6,2])
sr10.value_counts()

6    3
2    2
7    1
5    1
4    1
3    1
1    1
dtype: int64

Question 10: How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [136]:
sr11 = pd.Series([1,2,3,4,5,6,6,7,6,2])
print(sr11.value_counts())
highFreq = sr11.value_counts().head(2)

# Tried with head, that resulted in the number corresponding to count to also change. There fore using index
sr11[~sr11.isin(sr11.value_counts().index[:2])] = 'Other'
print(sr11)
#sr12 = np.where(sr11.isin(highFreq),highFreq[0],'Other')
#print(sr12)

6    3
2    2
7    1
5    1
4    1
3    1
1    1
dtype: int64
0    Other
1        2
2    Other
3    Other
4    Other
5        6
6        6
7    Other
8        6
9        2
dtype: object

Question 11: How to convert a numpy array to a dataframe of given shape?

In [142]:
# Reshape the series into a dataframe with 7 rows and 5 columns
sr12 = pd.Series(np.arange(1,36,1))
print('Series elements: ',sr12)

# reshaping to 7 rows and 5 columns
sr12.reshape(7,5)

Series elements:  0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
dtype: int64

/Users/mohammed_raheel/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35]])

Question 12: How to find the positions of numbers that are multiples of 3 from a series?

In [152]:
sr13 = pd.Series(np.arange(1,13,1))
sr13.index.name = 'index'
print(sr13)
indexes = pd.Series(np.where(sr13%3==0))
print(indexes)

index
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64
0    [2, 5, 8, 11]
dtype: object

Question 13: How to stack two series vertically and horizontally ?

In [164]:
srOne = pd.Series(np.arange(1,6,1))
srTwo = pd.Series(np.arange(21,26,1))
print('Series1: ',srOne)
print('\nSeries2: ',srTwo)

vertical = pd.concat([srOne,srTwo],axis=0)
horizontal = pd.concat([srOne,srTwo],axis=1)

print('Vertical: \n',vertical)
print('\nHorizontal: \n',horizontal)

Series1:  0    1
1    2
2    3
3    4
4    5
dtype: int64

Series2:  0    21
1    22
2    23
3    24
4    25
dtype: int64
Vertical:
 0     1
1     2
2     3
3     4
4     5
0    21
1    22
2    23
3    24
4    25
dtype: int64

Horizontal:
    0   1
0  1  21
1  2  22
2  3  23
3  4  24
4  5  25

Question 14: How to get the positions of items of series A in another series B?

In [173]:
srThree = pd.Series(np.arange(1,6,1))
srFour = pd.Series(np.arange(3,8,1))
print('Series1: ',srThree)
print('\nSeries2: ',srFour)

# as we can see, 3,4,5 are the items present in both
pd.Series(np.where(srThree.isin(srFour)))

Series1:  0    1
1    2
2    3
3    4
4    5
dtype: int64

Series2:  0    3
1    4
2    5
3    6
4    7
dtype: int64

0    [2, 3, 4]
dtype: object

Question 15: How to compute the mean squared error on a truth and predicted series?

In [180]:
actual = pd.Series(np.arange(1,6,1))
predictions = pd.Series(np.arange(1,6,1)) + np.random.random(5)

mse = np.mean((predictions-actual)**2)
print('mean squared eror: ',mse)

mean squared eror:  0.5591276633124928

Question 16: How to get the day of month, week number, day of year and day of week from a series of date strings?

In [197]:
from dateutil.parser import parse
sr16 = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# The parser can parse any known format to represent date or time

sr16_map = sr16.map(lambda x: parse(x))


print('Day of month: ',sr16_map.dt.day)
print('\nDay of week: ',sr16_map.dt.weekofyear)
print('\nDay of year: ',sr16_map.dt.dayofyear)
print('\nDay name: ',sr16_map.dt.weekday_name)

Day of month:  0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

Day of week:  0    53
1     5
2     9
3    14
4    19
5    23
dtype: int64

Day of year:  0      1
1     33
2     63
3     94
4    125
5    157
dtype: int64

Day name:  0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

Question 17: How to filter words that contain atleast 2 vowels from a series?

In [220]:
sr17 = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowels = ['a','e','i','o','u']
result = []
for i in sr17:
    i = i.lower()
    totalVowelCount = 0
    for j in vowels:
        totalVowelCount += i.count(j)
    if totalVowelCount>=2:
        result.append(i)
    else:
        continue

print(pd.Series(result))

0     apple
1    orange
2     money
dtype: object

Question 18: How to filter valid emails from a series?

In [239]:
import re
emailIds = pd.Series(['buying books at flipkart.com', 'laker@lakers.com', 'doej@apple.co', 'jiku@xiomi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

# re.match(pattern, x) tells whether string matches a given pattern. Here we find that the following string match the patter
# 'laker@lakers.com', 'doej@apple.co', 'jiku@xiomi.com'
# now we take book list so that we can supply it as index to the series
# z = list(emailIds.map(lambda x: bool(re.match(pattern, x))))
z = list(map(lambda x: bool(re.match(pattern,x)),emailIds))
emailIds[z]

1    laker@lakers.com
2       doej@apple.co
3      jiku@xiomi.com
dtype: object

Question 19: How to get the frequency of unique values in the entire dataframe?

In [289]:
df1 = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1,4), columns = ['col1','col2','col3','col4'])
# pd.value_counts(df1.values.ravel())
print(df1)
len(np.unique(df1)) # number of unique elements

   col1  col2  col3  col4
0     3     7     4     9
1     3     1     6     3
2     9     9     1     9
3     6     3     9     5
4     1     5     5     3

7

Question 20: How to split a text column into two separate columns?

In [306]:
df2 = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])
print(df2)


# as we can see, each row either contains space or tab
df2 = df2.row.str.split(',|    ', expand=True)

print('\n',df2)
headers = df2.iloc[0]
print('\nHeaders: ', headers)
# now remvoe first row
df2 = df2.iloc[1:]
df2.columns = headers
print('\n',df2)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

      0           1            2
0  STD        City        State
1   33     Kolkata  West Bengal
2   44     Chennai   Tamil Nadu
3   40   Hyderabad    Telengana
4   80   Bangalore    Karnataka

Headers:  0      STD
1     City
2    State
Name: 0, dtype: object

 0 STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka